body{
  background: linear-gradient(0.25turn, #696969, #ebf8e1, #ffff99);
}

.icon{
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: linear-gradient(#e66465, #4A4A4A);;
  border-radius: 10px;
  box-shadow: 5px 4px 8px rgba(0,0,0,0.3);
  transition:all 1s cubic-bezier(0.645,0.045,0.355,1) 0.2s;
  animation-name:move;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
@keyframes move{
  0%{
    left:200px;
  }
  100%{
  left:700px;
  }
}  
.icon:hover{
  transform:rotate(60deg);
  margin-top:0px;
}

.face{
  position:absolute;
  left:50%;
  bottom:-18px;
   -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background:#a49375;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}
.chin {
  position:absolute;
  left:50%;
  bottom:-14px;
   -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background:#a49375;
  width: 55px;
  height: 70px;
}
.eyeleft{
  position: absolute;
  width: 35px;
  height:40px;
  background:#000;
  top: 50px;
  border-radius: 50%;
  left:35px;
}
.eyeright{
  position: absolute;
  width: 35px;
  height: 40px;
  background:#000;
  top: 50px;
  border-radius: 50%;
  right: 35px;
 }

.heartleft{
 position:absolute;
 background:#4A4A4A;
 left:37px;
 bottom:88px;
}
.h1{
  position: absolute;
  left: 4px;
  top: 0px;
  width: 12px;
  height: 12px;
  background: #B54FFF;
  border-radius: 50%;
}
.h2{
  position: absolute;
  left: 14px;
  top: 0px;
  width: 12px;
  height: 12px;
  background: #B54FFF;
  border-radius: 50% ;
}
.h3{
  position: absolute;
  left: 9px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: #B54FFF;
  transform:rotate(45deg) ;
}
.heartright{
 position:absolute;
 background:#4A4A4A;
 left:82px;
 bottom:88px;
}
.h1{
  position: absolute;
  left: 4px;
  top: 0px;
  width: 12px;
  height: 12px;
  background: #B54FFF;
  border-radius: 50%;
}
.h2{
  position: absolute;
  left: 14px;
  top: 0px;
  width: 12px;
  height: 12px;
  background: #B54FFF;
  border-radius: 50% ;
}
.h3{
  position: absolute;
  left: 9px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: #B54FFF;
  transform:rotate(45deg) ;
}

.nose{
 position:absolute;
 background:#4A4A4A;
 left:89px;
 bottom:48px;
 transform: translate(-50%, -50%)
rotate(180deg);
}
.n1{
  position: absolute;
  left: 4px;
  top: 0px;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
}
.n2{
  position: absolute;
  left: 14px;
  top: 0px;
  width: 12px;
  height: 12px;
  background:black;
  border-radius: 50% ;
}
.n3{
  position: absolute;
  left: 9px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: black;
  transform:rotate(45deg) ;
}

.mouth1{
  position:absolute;
  left:54px;
  bottom:24px;
  width: 8px;
  height: 17px;
  background: black;
}
.mouth2{
  position:absolute;
  left:70px;
  bottom:24px;
  width: 8px;
  height: 17px;
  background:  black;
}
.mouth3{
  position:absolute;
  left:87px;
  bottom:24px;
  width: 8px;
  height: 17px;
  background:   black;
}







  


  

